<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src="/assets/images/logo_white.png" class="img-fluid" width="110" alt="My Car Hire Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAuthenticated()" routerLink="/cars" routerLinkActive="active">Cars</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" *ngIf="isAuthenticated()" routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin()" routerLink="/employees" routerLinkActive="active">Employees</a>
          </li>
        </ul>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container-fluid">
            <ul>
                <li>
                  <a class="nav-link" *ngIf="isAdmin()" routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li>
                  <a class="nav-link" *ngIf="isAdmin()" routerLink="/employees" routerLinkActive="active">Employees</a>
                </li>
              </ul>
              <div class="container-fluid mx-5">
                <div class="row">
                  <div class="d-flex">
                      <!-- <div *ngIf="isAuthenticated">
                        <p *ngIf="user$ | async as user and isAuthenticated" class="text-white  m-5">Logged in: <!--<br>{{user.name}}</p>
                      </div> -->
                       <button type="button" *ngIf="!isAuthenticated()" routerLink="/signIn" routerLinkActive="active" class="btn btn-primary me-2 m-2" >
                        Login
                    </button>
                    <!-- <button type="button" *ngIf="!(isAuthenticated$ | async)" routerLink="/signin" class="btn btn-primary me-2 m-2" 
                    (click)=handleLogin()>
                        Login
                    </button> -->
                    <button type="button" *ngIf="!isAuthenticated()" routerLink="/signUp" routerLinkActive="active" class="btn btn-secondary me-2 m-2" >
                        SignUp
                    </button>
                    <button *ngIf="isAuthenticated()"
                    class="btn btn-outline-primary me-4 m-2"
                    (click)="signOut()">
                        Log Out
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </nav>
      </div>
    </div>
</nav>

<div class="container-fluid p-5">
  <!-- Display the current route's content -->
  <router-outlet></router-outlet>
  <app-chat-window *ngIf="isAuthenticated()"></app-chat-window>
</div>
<footer class="footer fixed-bottom text-center p-3 bg-dark text-white">
  <small>&copy; {{currentYear}}  MyCarHireDb</small>
</footer>


  

  
