<h1>
    Employees
    <p><small class="text-muted">All Employees</small></p>
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <ngx-masonry>
                    <div ngxMasonryItem class="masonry-item" *ngFor="let item of employeeList">
                        <app-employee-row [employee]=item (click)='clicked(item)' [class.text-info]="isSelected(item)">
                        </app-employee-row> 
                    </div>
              </ngx-masonry>
        </div>
        <div class="col-4">
            <div class="col">
                <div class="container-fluid">
                    <app-employee-details *ngIf="currentEmployee" [employee]="currentEmployee"></app-employee-details>
                </div>
        </div>
    </div>
</div>
     




      

